 .Data-detail{
     
    background-color: #1A2238;
    padding: 2vw;
   
   
}

.Data-detail h1{
    text-shadow: 1px 5px 5px rgb(235, 5, 5);
    margin-left: 20vw;
    text-align: center;
    width: 40vw;
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16);
    font-size: 3vw;
    border-radius: 1vw;
}

.Data-detail img{
   
    float: right;
    width:20vw;
   
    padding: 1vw;
    object-fit: cover;
    margin-top: -23vw;
   
    
    

}



.paragraph{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:8vw 0vw 0vw 0vw ;
    text-align: center;
   
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
    
}

.paragraph1{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph2{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
   
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph3{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph4{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
   
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph5{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph6{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph7{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
}

.paragraph8{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
} 

.paragraph9{
    text-shadow: 1px 5px 5px rgb(206, 182, 182);
    margin:1vw 0vw 0vw 0vw ;
    text-align: center;
    
    background-color: #b9c78a;
    border: 2px solid rgb(17, 16, 16); 
    font-size: 1.5vw;
    border-radius: 1vw;
} 


 
